<app-customer-layout>
    <!-- Welcome Section -->
    <div class="card welcome-card">
        <div class="avatar">
            {{ getUserInitials() }}
        </div>

        <h1 class="title">Welcome back, {{ userName() }}!</h1>

        <p class="text">
            This is your dashboard where you can manage bookings, track
            shipments, review previous orders, and get support whenever needed.
        </p>

        <p class="hint">
            Use the quick actions or navigation menu above to get started.
        </p>
    </div>

    <div class="home-grid">
        <!-- Quick Actions -->
        <div class="card">
            <h2 class="section-title">Quick Actions</h2>

            <button class="action-btn" (click)="navigateToNewBooking()">
                Start a New Booking
            </button>

            <button class="action-btn" (click)="navigateToTracking()">
                Track an Existing Shipment
            </button>

            <button class="action-btn" (click)="navigateToHistory()">
                View Previous Bookings
            </button>
        </div>

        <!-- Analytics -->
        <div class="analytics">
            <h2 class="section-title">Overview & Analytics</h2>

            @if (isLoading()) {
            <p class="text">Loading...</p>
            } @else {
            <div class="analytics-grid">
                <div class="stat-card">
                    <p class="label">Total Bookings</p>
                    <h3 class="value">{{ analytics().totalBookings }}</h3>
                </div>

                <div class="stat-card">
                    <div class="active-shipment">
                        <p class="label">Active Shipments</p>
                        <span class="badge">Live</span>
                    </div>
                    <h3 class="value">{{ analytics().activeShipments }}</h3>
                </div>

                <div class="stat-card">
                    <p class="label">Delivered</p>
                    <h3 class="value">{{ analytics().delivered }}</h3>
                </div>

                <div class="stat-card">
                    <p class="label">Cancelled shipments</p>
                    <h3 class="value">{{ analytics().cancelRequests }}</h3>
                </div>
            </div>
            }
        </div>
    </div>
</app-customer-layout>
